@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

*{
  font-family: "Plus Jakarta Sans", sans-serif;
}

@theme {
  --color-primary: #6d28d9; /* البربل الأساسي لـ TasNet */
  --color-accent: #a78bfa;  /* درجة فاتحة للتفاعل */
  --font-sans: "Inter", sans-serif;
}